.detail {
  display: flex;
  flex-direction: row;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);


  &__description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);
    padding: 3rem;
    font-size: 1.4rem;
  }

  &__reviews {
    flex: 1;
  }
}
